WebApplicationFrontend/Web References/TransactionWebService/TransactionWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="checkout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="checkoutSoapIn">
    <wsdl:part name="parameters" element="tns:checkout" />
  </wsdl:message>
  <wsdl:message name="checkoutSoapOut">
    <wsdl:part name="parameters" element="tns:checkoutResponse" />
  </wsdl:message>
  <wsdl:message name="getTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:getTransaction" />
  </wsdl:message>
  <wsdl:message name="getTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:getTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="TransactionWebServiceSoap">
    <wsdl:operation name="checkout">
      <wsdl:input message="tns:checkoutSoapIn" />
      <wsdl:output message="tns:checkoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTransaction">
      <wsdl:input message="tns:getTransactionSoapIn" />
      <wsdl:output message="tns:getTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionWebServiceSoap" type="tns:TransactionWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkout">
      <soap:operation soapAction="http://tempuri.org/checkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransaction">
      <soap:operation soapAction="http://tempuri.org/getTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransactionWebServiceSoap12" type="tns:TransactionWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkout">
      <soap12:operation soapAction="http://tempuri.org/checkout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransaction">
      <soap12:operation soapAction="http://tempuri.org/getTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionWebService">
    <wsdl:port name="TransactionWebServiceSoap" binding="tns:TransactionWebServiceSoap">
      <soap:address location="https://localhost:44316/WebServices/TransactionWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="TransactionWebServiceSoap12" binding="tns:TransactionWebServiceSoap12">
      <soap12:address location="https://localhost:44316/WebServices/TransactionWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>